/* MAIN.CSS FOR ALL PAGES */

html, body {
	background-color: #D6D5D5;
	margin: 0;
	padding: 0;
	height: 100%;
}

/* THE MAIN CONTENT BOXES FOR ARTICLES */
.standardArticleBlock {
	display: table;
	width: 960px;
	overflow: hidden;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	padding: 10px;
	background-color: #F4F4F4;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}
/* THE CSS FOR THE TITLE OF A STANDARD ARTICLE BLOCK */
.standardArticleBlock .titleBlock {
	margin-bottom: 15px;
	color: inherit;
	text-decoration: none;
	text-align: justify;
	width: 470px;
	color: black;
	font-size: 28pt;
	font-weight: bold;
	font-family: 'Georgia';
	padding-left: 10px;
	float: left;
}
/* THE CSS FOR THE IMAGE OF EVERY ARTICLE */
.standardArticleBlock .imageBlock {
	width: 470px;
	height: 271px;
	float: right;
	margin-top: 5px;
	margin-right: 6px;
	margin-bottom: 5px;	
}
/* THE CSS FOR THE DESCRIPTION OF EVERY ARTICLE */
.standardArticleBlock .articleDescription {
	float: left;
	width: 470px;
	color: black;
	font-family: 'Gill Sans Light';
	font-size: 12pt;
	letter-spacing: .05em;
	margin-left: 10px;
}
.standardArticleBlock .labelText {
	font-family: "Gill Sans Light";
	font-style: italic;
	font-size: 11pt;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 10px;
}

.imageArticleBlock {
	display: table;
	width: 960px;
	overflow: hidden;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	padding: 10px;
	background-color: #F4F4F4;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}

/* THE CSS FOR THE TITLE OF A STANDARD ARTICLE BLOCK */
.imageArticleBlock .titleBlock {
	color: inherit;
	text-decoration: none;
	text-align: justify;
	width: 835px;
	color: black;
	font-size: 28pt;
	font-weight: bold;
	font-family: 'Georgia';
	float: left;
	padding-left: 2px;
	padding-bottom: 5px;
}
/* THE CSS FOR THE IMAGE OF EVERY ARTICLE */
.imageArticleBlock .imageBlock {
	width: 960px;
	height: 554px;
	text-align: center;
	float: left;
	padding-bottom: 55px;
}
/* THE CSS FOR THE DESCRIPTION OF EVERY ARTICLE */
.imageArticleBlock .articleDescription {
	float: right;
	color: black;
	background-color: #F4F4F4;
	font-family: 'Gill Sans Light';
	letter-spacing: .05em;
	font-size: 12pt;
	margin-top: -100px;
	margin-right: 50px;
	margin-left: 50px;
	padding-left: 10px;
	text-align: justify;
	padding-right: 5px;
}
.imageArticleBlock .labelText {
	font-family: "Gill Sans Light";
	font-style: italic;
	font-size: 11pt;
	margin-top: 8px;
	margin-bottom: 0px;
	padding-left: 5px;
}

.textArticleBlock {
	display: table;
	width: 960px;
	overflow: hidden;
	position: relative;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	padding: 10px;
	background-color: #F4F4F4;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
}

/* THE CSS FOR THE TITLE OF A STANDARD ARTICLE BLOCK */
.textArticleBlock .titleBlock {
	color: inherit;
	text-decoration: none;
	text-align: left;
	width: 940px;
	margin-bottom: 10px;
	color: black;
	font-size: 28pt;
	font-family: 'Georgia';
	font-weight: bold;
	float: left;
}
/* THE CSS FOR THE DESCRIPTION OF EVERY ARTICLE */
.textArticleBlock .articleDescription {
	margin-bottom: 10px;
	float: left;
	width: 945px;
	color: black;
	font-family: "Gill Sans Light";
	line-height: 20px;
	letter-spacing: .05em;
	font-size: 12pt;
	margin-left: 4px;
	padding-right: 10px;
}
.textArticleBlock .labelText {
	font-family: "Gill Sans Light";
	font-style: italic;
	font-size: 11pt;
	margin-bottom: 5px;
}
/* THE BOX USED BY THE RECOMMEND AND SUBMIT PAGE */
.box {
	display: table;
    height: 30%;
	width: 40%;
    overflow: hidden;
    position: relative;
    margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	padding: 40px;
	-moz-box-shadow: 1px 1px 2px 3px #424242;
	-webkit-box-shadow: 1px 1px 2px 3px #424242;
	box-shadow: 1px 1px 2px 3px #424242;
}

.title {
	color: black;
	font-family: 'Georgia';
	font-style: bold;
	font-size: 45px;
	padding: 30px;

}

/* ARTICLE PAGE */
.story {
	float: left;
	color: black;
	font-family: 'Gill Sans Light';
	line-height: 20px;
	letter-spacing: .05em;
	font-size: 15px;
	width: 60%;
	padding: 30px;
	margin-top: 50px;
}

.bio {
	float: right;
	color: black;
	font-style:italic;
	font-family: 'Gill Sans Light';
	line-height: 20px;
	letter-spacing: .05em;
	font-size: 15px;
	width:25%;
	padding: 30px;
	margin-top: 50px;
}



